<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUVSGrxpq2O_ZaSCPNzAmxnWbzJg84rb0</string>
	<key>GCM_SENDER_ID</key>
	<string>59665215731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.docconnect.app.docconnectApp</string>
	<key>PROJECT_ID</key>
	<string>docconnect-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>docconnect-mvp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59665215731:ios:620898161ca73edfe54786</string>
</dict>
</plist>